.carousel {
    position: absolute;
    z-index: 2;
    left: 55%;
    top: 10%;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    border-color: rgb(250, 250, 250, 0.3);
    border-style: groove;
    border-width: 3px;
}
.card > div {
    display: inline;
    width: 50%;
    float: left;
    padding: 10px;
    padding-left: 30px;
}

.card > div > img {
    display: inline;
    padding-bottom: 20px;
}

.card > div > p {
    padding-bottom: 10px;
    color: var(--color-graytext);
}

.card > div > p:nth-of-type(2) {
    font-weight: bold;
    color: black;
}

.card > img {
    display: inline;
    width: 45%;
    float: right;
    padding: 20px;
}

.sleep-card {
    display: none;
}