.carousel {
    position: absolute;
    z-index: 2;
    left: 55%;
    top: 10%;
    width: 700px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #9d9d9d21;
    border-width: 3px;
}

@media (max-width: 1570px) {
    .carousel {
        width: 500px;
    }
}

.card > div {
    display: inline;
    width: 50%;
    float: left;
    padding: 10px;
    padding-left: 30px;
}

.card > div > img {
    display: inline;
    padding-bottom: 20px;
}

.card > div > p {
    padding-bottom: 10px;
    color: var(--color-graytext);
}

.card > div > p:nth-of-type(2) {
    font-weight: bold;
    color: black;
}

.card > img {
    display: inline;
    width: 45%;
    float: right;
    padding: 20px;
}

.sleep-card {
    display: none;
}
