/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
@import '../3rd-party/font.css';

/* components */
@import '../components/button-default.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* hero startas */
.hero{
    background: rgb(29,15,155);
    background: linear-gradient(90deg, rgba(29,15,155,1) 0%, rgba(0,195,255,1) 100%);
    padding: 0;  
}
/* header startas */

.navline{
    padding: 0; 
    background-color: transparent;
    margin-bottom: 150px;
}


.headerc-r{
    padding: 0;
    color: var(--secondary-color);
}

.toplogo{
    width:220px;
}

.linkcontainer{
    font-size: 1.45em;
    margin-top: 22px;
}

.linkname{
    display:inline;
    text-transform: capitalize;
    padding: 0 5px;
}

.linkname::after{
    font-family: "FontAwesome";
    margin-left: 2px;
    content: "\f107";
    
}

.linkthree{
    text-transform: uppercase;
}

.linkthree:after{
    display: none;
}


.navhouse{
    align-self: center;
    text-align: center;
    font-size: 21px;
    padding: 17px;
}
.freetriallink{
    margin-top: 11px;
    text-decoration: none;
}

.freetrial{
   text-transform: uppercase;
    padding: 15px 20px;
    color: var(--secondary-color);
    border: var(--secondary-color) solid 1px;
    border-radius: 30px;
    width:160px;
    font-size: 16px;
    margin-top: 0px;
    font-weight: 600;
    text-align: center;
}

.freetrial:hover{
background-color: var(--secondary-color);
     color: var(--primary-color);
 }

/* header pabaiga */
.hero-content{
    display: inline-block;
    color: var(--secondary-color);
    
   }

.hosting-content{
font-family: "Lato";
}

.hostingfreedom{
   font-size: 60px;
}

.spananimation{
 color:#00C3FF;
 width: 340px;
 height:72px;
}

.spanmoney{
    font-size: 60px;
    position: relative;
}

.spanmoney::after{
    content: url(../../img/header/header-red-line.png);
    position:absolute; 
    bottom: -40px;
    left: 0;
}

.hostingfreedomtext{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero-btn-right{
margin-left: 30px;
}

.hero-btn-right-link{
    margin-top: 5px;
    text-decoration: none;
}

@media (max-width: 575px){
    .hero-btn-right{
        margin-left: 0px;
        margin-top: 50px;
        }
}

.blueboximg{
width:70%;
text-align: center;
margin-left: 15%;
}

.ausys{
width: 100%;   
}
/* hero pabaiga */
/* search conteineris startas */
/* search conteineris pabaiga */
/* one click conteineris startas */
.container.one-click{
 
    background-image: url(../../img/one-click-install/one_click_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}
.container> .row.bendras{
    
    margin-bottom: 0px;
}
.container > .row > .pirmas {
    color: #111;
    margin-bottom: 25px;
    text-align: center;
    font-family: Lato,sans-serif;
    font-size: 2em;
}
.container > .row > .antras{
    color: #666;
    font-family: Open Sans, sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    text-align: center;
    
    
}
.container > .row > .img.col12 > img {
    width: 100%;
    margin-top: -1em;
}
@media (max-width: 481px){
    .container > .row > .pirmas {
        font-size: 1.5em;
    }
}
/* one click conteineris pabaiga */
/* hosting (melynas konteineris) startas */
.hosting-plan h1{
    color: #fff;
}
.hosting-plan p {
    color: #fff;
}

.container.hosting-plan{
    font-family: Lato;
    color: var(--color-graytext);
    position: relative;
    background-color: transparent;
}
.container> .row.bendras::after{
    content: '';
    background-image: url(../../img/hosting-plans/hosting-plans.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
   
    
}
table  {
    text-align: center;
    background-color: transparent;
    border-collapse: collapse;
    width: 100%;
   
}    

 thead{
    /* border: 1px solid red ; */
    border-collapse: collapse;
    text-align: center;
    background-color: transparent;
}
th{
    border: 1px solid #eaeaea;
    background-color: #fff;
    font-size: 24px;
    color: #000;
    white-space: nowrap;
}
.price-head{
    display: inline-block;
    padding: 0;
    margin: 0;
}
.price-head .plan{
    display: block;
    /* margin-bottom: 14px; */
}
span.price{
    font-family: Lato;
    color: var(--color-bluelight);
    font-size: 48px;
}
.price sup{
    font-size: 18px;
    font-family: Open Sans, sans-serif;
}
.price span{
    text-align: bottom;
    font-size: Open Sans;
    font-size: 18px;
    line-height: 4.5;
}
td{
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    background-color: #fff;
}

td{ 
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}
.pricing-table th:first-of-type {
    background-color: transparent ;
    border: none;
    text-align: left;
    color: var(--color-graytext);
    border-bottom: none;
    font-family: Lato;
    font-size: 1em;
}
.col {
    width: 100%;
    max-width: 100%;
}
.table-responsive {
    overflow-x: auto; 
}
table td, table th {
    padding: 20px 15px;
    vertical-align: middle;
}
.pricing-table thead th, .pricing-table thead td {
    padding: 41px 15px 35px;
}
.row.apacia p{
    color: var(--color-graytext);
}
.row.apacia a {
    text-decoration: none;
    color: #58c0f9;
    
}
.row.apacia img{
    margin-right: 5px;
    text-decoration: none;
    vertical-align: text-bottom;
}
@media (max-width: 991px){
 .container> .row.bendras::after{
   
    padding-top: 40px;
       
 }

.price span{
    line-height: 2.5;
}
span.price {
    font-size: 28px;
}
}
@media (max-width: 767px){
    .container> .row.bendras::after{
      
       padding-top: 20px;
          
    }
}
/* kainos konteineris startas */
/* kainos konteineris pabaiga */
/* hosting (melynas konteineris) pabaiga */
/* baltas fonas konteineris startas */
/* data konteineris (su skaičiais) startas */
/* data konteineris (su skaičiais) pabaiga */
/* baltas fonas konteineris pabaiga */
/* melinas konteinris su 8 kvadratais startas */

.container-ourBest {
    background-color: var(--primary-color);
    background-image: url(../../img/services/services-bg.png);
    background-position: center;
    background-size: cover;
}
.content-ourBest {
    text-align: center;
    color: var(--secondary-color);
}
.title-ourBest {
    background-color: transparent;
    font-size: 50px;
    margin: -9px 0px 25px;
}
.txt-ourBest {
    background-color: transparent;
    font-size: 17px;
}
.container .row.bottom-ourBest {
    background-color: transparent;
}
.row > .block-ourBest{
    margin: 0;
    padding: 80px 15px;
}

.block-ourBest {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: 1px solid rgba(255,255,255,.1);
}
.block-ourBest:hover {
    background-color: rgba(255,255,255,.1);
} 
.bottom-ourBest a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* melinas konteinris su 8 kvadratais pabaiga */
/* baltas conteineris su 4 sekcijom startas */

.container .server-1 >img {
    height: auto;
    width: 100%;
}
.container .server-content > h2{
    color: var(--color-dark);
    font-family: Lato;
    font-size: 38px;
    margin-bottom: 20px;
    font-family: 'Lato';
}
.container .server-row p {
    font-size: 15px;
    line-height: 1.5em;
    color: var(--color-gray);
    font-family: "Open Sans";
}

.container .server-row .server-border {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-graylight);
}
.container .server-column {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
.container .server-img {
    height: 50px;
    width: 50px;
}
.container .server-content .server-btn{
    margin-top: 30px;
}
.server-row .hopstack-btn {
    width: 45%;
    margin-top: 30px;
}
.server-row .hopstack-btn p {
    color: var(--secondary-color);
    font-size: 15px;
}
@media(max-width: 991px){
    .container .server-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .server-row .hopstack-btn{
        width: 35%;
    }

}
/* baltas conteineris su 4 sekcijom pabaiga */

/* melinas su serciu konteineris startas */

.container-subscribe {
    background-color: var(--primary-color);
    background-image: url(../../img/search-bar/search-bar.png);
    background-position: center;
    background-size: cover;
}

.content-subscribe {
    text-align: center;
    color: var(--secondary-color);
}

.txt-subscribe {
    font-family: Lato,sans-serif;
    text-align: center;
    color: var(--secondary-color);
    background-color: transparent;
    font-size: 48px;
    margin-bottom: 30px;
}

.input-subscribe {
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 7px;
    border: 1px solid var(--secondary-color);
    border-radius: 3em;
}

.place-subscribe {
    position: relative;
    border-style: none;
    border-radius: 3em;
    width: 60%;
    padding: 10px 15px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 15px;
    color: var(--color-gray);
}

*:focus {
    outline: none;
}

.input-subscribe button {
    width: 40%;
    position: relative;
}

/* melinas su serciu konteineris pabaiga */

/* Zemelapis startas */
/* Zemelapis pabaiga */
/* clients conteineris startas */
/* clients conteineris pabaiga */
/* get latest blog konteineris startas */
.container.blog-bg{
    
    background-color: var(--color-light);
}
.container.blog-bg .sekcija2{
    background-color: #fff;
}
.row .sekcija2 {
    
    padding: 20px 35px 23px;
}
.row .blog{
    margin-bottom: 30px;
}
.row .blog-date{
    list-style: none;
    
}
.row .blog-date a{
    text-decoration: none;
    color: var(--color-bluelight);
    font-size: 12px;
}
.row .blog-title{
    margin-bottom: 10px;
}
.row .blog-title a{
    font-size: 24px;
    text-decoration: none;
    color: #111;
    font-family: Lato, sans-serif;
    line-height: 1.5;
}

.row .blog-link {
    text-decoration: none;
    font-family: open-sans, sans-serif;
    font-size: 16px;
    color: var(--color-gray);
}
.row .blog-link img {
    margin-left: 5px;
    margin-top: 5px;
}

.row .blog1{
    
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    
}
@media(min-width: 991px){
.row .sekcija1 img{
    width: 100%;
}
}
@media(max-width: 990px){
    .row .sekcija1 img{
        width: 100%;
    }
}
/* get latest blog konteineris pabaiga */
/* footer startas  */

.footer-cont {
    padding: 0;
}
.row-list{
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 50px;
}
.list-pg >.no-mark {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.row-list >.title-first {
    color: var(--secondary-color);
    font-size: 30px;
    margin-bottom: 25px;
    font-family: "Lato";
}
.row-list .title-second {
    color: var(--secondary-color);
    margin-top: 25px;
    font-size: 28px;
    margin-bottom: 25px;
    font-family: "Lato";
    
}
.first-bottom .cards > a{
    margin: 0;
}
.row-list a {
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-size: 17px;
    text-transform: capitalize;
    justify-content: left;
}
.row-list a:hover {
    text-decoration: none;
    color: var( --color-bluelight);
}
.row-list .list-date  {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--color-bluelight);
    font-family: "Open Sans",sans-serif;
    
}
.circle {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}
.row-list .update{
    align-self: center;
    font-size: 12px;
    background-color: var(--color-red);
    text-transform: uppercase;
    border-radius: 25px;
    padding: 1px 10px 1px 10px;
}
.row-list .update-try{
    align-self: center;
    font-size: 12px;
    background-color: var(--color-bluelight);
    text-transform: uppercase;
    border-radius: 25px;
    padding: 1px 10px 1px 10px;
}
.row-list .circle {
    display: flex;
    gap: 10px;
    align-self: center;
}
.list-news {
    display: flex;
    flex-direction: row;
    background-color: #102D6975;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 13px;
    font-family:Lato,sans-serif;
    
}
.row-list .update-try:hover {
    color: var(--secondary-color)
}
.row-list .update:hover {
    color: var(--secondary-color)
}

.row-list .a-title {
    margin-bottom: 30px;
    text-transform: none;
    font-size: 20px;
}
.row .footer-text {
    color: var(--secondary-color);
    line-height: 25px;
    font-size: 17px;
    text-decoration: none;
}
.row .footer-text a {
    text-decoration: none;
    color: var(--color-bluelight);
    font-family: "Open Sans",sans-serif;
}

.bottom-line {
    border-top: 1px solid var(--color-darkblue);
    padding-top: 30px;
}
.row .footer-cer {
    background-image: url(/img/footer/certificate.png);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
}
.content-foot {
    padding-bottom: 25px;
}
.footer-back {
    background-image: url(/img/footer/footer.png);
    background-position:top;
    background-size: cover;
}
@media (max-width:991px){
    .last-line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width:576px) {
    .last-line {
        text-align: left;
    }
}
.row-list .logo-hopstack {
    width: 70%;
}
.row-list .cards img {
    width: 90%;
    margin-bottom: 20px;
}
.row-list .pages {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: left;
}
.row-list .phone {
    display: flex;
    justify-content:left ;
    flex-direction: row;
    text-align: center;
    color: var(--secondary-color);
    gap: 20px;
    align-content: center;
    margin-bottom: 35px;
}
.row-list .phone:hover{
    color: var(--color-bluelight);
}
.row-list .phone .icon {
    font-size: 19px;
}
.first-bottom > p {
    color:var(--secondary-color);
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
}
.first-bottom .copy {
    margin-top: 20px;
    font-size: 14px;
}
/* footer pabaiga */
