/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* hero startas */
.hero{
    background: rgb(29,15,155);
    background: linear-gradient(90deg, rgba(29,15,155,1) 0%, rgba(0,195,255,1) 100%);
    padding: 0;  
    width: 100%;
    display: flex;
    justify-content: space-between; 
}
/* header startas */
.navline{
    padding: 0;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
}


.headerc-r{
    padding: 0;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    float:none;
}

.toplogo{
    width:180px;
    height: 55px;
}

.linkcontainer{
    font-size: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    text-align:center;
}

.linkname{
    display:inline;
    text-transform: capitalize;
    padding: 0 5px;
}

.linkname::after{
    font-family: "FontAwesome";
    content: "\f107";
    
}

.linkthree{
    text-transform: uppercase;
}

.linkthree:after{
    display: none;
}


.navhouse{
    align-self: center;
    text-align: center;
    font-size: 21px;
    padding: 17px;
}
.freetriallink{
    text-decoration: none;
}

.freetrial{
   text-transform: uppercase;
    padding: 13px 28px;
    color: var(--secondary-color);
    border: var(--secondary-color) solid 1px;
    border-radius: 30px;
    width:126px;
    font-size: 13px;
    margin-top: 5px;
}

.freetrial:hover{
background-color: var(--secondary-color);
     color: var(--primary-color);
 }

/* header pabaiga */
/* hero pabaiga */
/* search conteineris startas */
/* search conteineris pabaiga */
/* one click conteineris startas */
.container.one-click{
 
    background-image: url(../../img/one-click-install/one_click_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}
.container> .row.bendras{
    
    margin-bottom: 0px;
}
.container > .row > .pirmas {
    color: #111;
    margin-bottom: 25px;
    text-align: center;
    font-family: Lato,sans-serif;
    font-size: 2em;
}
.container > .row > .antras{
    color: #666;
    font-family: Open Sans, sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    text-align: center;
    
    
}
.container > .row > .img.col12 > img {
    width: 100%;
    margin-top: -1em;
}
@media (max-width: 481px){
    .container > .row > .pirmas {
        font-size: 1.5em;
    }
}
/* one click conteineris pabaiga */
/* hosting (melynas konteineris) startas */
/* kainos konteineris startas */
/* kainos konteineris pabaiga */
/* hosting (melynas konteineris) pabaiga */
/* baltas fonas konteineris startas */
/* data konteineris (su skaiÄiais) startas */
/* data konteineris (su skaiÄiais) pabaiga */
/* baltas fonas konteineris pabaiga */
/* melinas konteinris su 8 kvadratais startas */
/* melinas konteinris su 8 kvadratais pabaiga */
/* baltas conteineris su 4 sekcijom startas */
/* baltas conteineris su 4 sekcijom pabaiga */
/* melinas su serciu konteineris startas */
/* melinas su serciu konteineris pabaiga */
/* Zemelapis startas */
/* Zemelapis pabaiga */
/* clients conteineris startas */
/* clients conteineris pabaiga */
/* get latest blog konteineris startas */
/* get latest blog konteineris pabaiga */
/* footer startas  */
/* footer pabaiga */
