/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
@import '../3rd-party/font.css';

/* components */
@import '../components/button-default.css';
@import '../components/carousel.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* hero startas */
.hero {
    background: rgb(29, 15, 155);
    background: linear-gradient(
        90deg,
        rgba(29, 15, 155, 1) 0%,
        rgba(0, 195, 255, 1) 100%
    );
    padding: 0;
}
/* header startas */

.navline {
    padding: 0;
    background-color: transparent;
    margin-bottom: 150px;
}

.headerc-r {
    padding: 0;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 150px;
    margin-left: 10%;
    height: 80px;
    display: flex;
    color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
}

.toplogo {
    width: 220px;
}

.linkbox {
    display: inline;
    font-size: 22px;
}

.linkname {
    display: inline;
    text-transform: capitalize;
    padding: 0 15px;
    position: relative;
}

.linkname:before {
    content: '';
    position: absolute;
    top: 50px;
    left: calc(50% - 15px);
    width: 20px;
    border-bottom: #fff 3px solid;
    display: none;
}

.linkbox {
    position: relative;
}

.linkbox:hover > .linkname:before {
    display: block;
}

.linkname::after {
    font-family: 'FontAwesome';
    margin-left: 2px;
    content: '\f107';
}

.linkthree {
    text-transform: uppercase;
}

.linkthree:after {
    display: none;
}

.linkbox > .matchbox {
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    display: none;
    position: absolute;
    top: 55px;
    z-index: 4;
    left: 0%;
}

.matchbox > a {
    display: block;
    border-top: rgb(128, 128, 128, 0.5) 1px solid;
    width: 250px;
    color: #000;
    padding-left: 20px;
    line-height: 3em;
    text-decoration: none;
    text-transform: capitalize;
}

.livelink {
    color: #00c3ff;
}

.linkbox:hover > .matchbox {
    display: block;
}

.navhouse {
    font-size: 21px;
    padding: 17px;
    display: none;
    cursor:pointer;
    position: relative;
}

.navhouse > input{
display:none;
}

.burgeropen{
    display:block;
    cursor:pointer;
}

.burgerclose{
    display:none;
    cursor:pointer;
}

.navhouse-menu{
    display:none;
    position: absolute;
    background-color: white;
    bottom: -450px;
    left:-45vw;
    width:90vw;
    z-index: 4;

}

.menu-link{
    font-size: 22px;
    color: #000;
    padding: 20px;
}



#clicky:checked+.navhouse-contain>.burgeropen{
    display:none;
}

#clicky:checked+.navhouse-contain>.burgerclose{
    display:block;
}

#clicky:checked+.navhouse-contain>.navhouse-menu{
    display:block;
}



@media (max-width: 1000px) {
    .navhouse {
        display: flex;
        justify-self: end;
    }



@media(max-width: 1170px){
.linkname{
font-size: 18px;
padding: 5px;
}

}




@media(max-width: 580px){
    .freetrial{
        display:none;
    }
}

.linkbox{
    display:none;
}    
}

.freetriallink {
    margin-top: 11px;
    text-decoration: none;
}

.freetrial {
    text-transform: uppercase;
    padding: 15px 20px;
    color: var(--secondary-color);
    border: var(--secondary-color) solid 1px;
    border-radius: 30px;
    width: 160px;
    font-size: 16px;
    margin-top: 0px;
    font-weight: 600;
    text-align: center;
}

.freetrial:hover {
    background-color: var(--secondary-color);
    color: var(--color-bluelight);
}

/* header pabaiga */
.hero-content {
    display: inline-block;
    color: var(--secondary-color);
}

.hosting-content {
    font-family: 'Lato';
}

.hostingfreedom {
    font-size: 60px;
}

.spananimation {
    color: #00c3ff;
    width: 340px;
    height: 72px;
}

.spanmoney {
    font-size: 60px;
    position: relative;
}

.spanmoney::after {
    content: url(../../img/header/header-red-line.png);
    position: absolute;
    bottom: -40px;
    left: 0;
}

.hostingfreedomtext {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero-btn-right {
    margin-left: 55px;
}

.hero-btn-right-link {
    margin-top: 5px;
    text-decoration: none;
}

@media (max-width: 575px) {
    .hero-btn-right {
        margin-left: 0px;
        margin-top: 50px;
    }
}

.blueboximg {
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}

.ausys {
    width: 100%;
}
/* hero pabaiga */

/* search conteineris startas f*/
.container-search {
    position: relative;
    padding: 0;
    display: flex;
    width: 1140px;
    margin-left: calc(50% - 570px);
    margin-right: calc(50% - 570px);
}

@media (max-width: 1200px) {
    .container-search {
        width: 960px;
        margin-left: calc(50% - 480px);
        margin-right: calc(50% - 480px);
    }
    .info-search .list-search {
        gap: 0;
    }
}

@media (max-width: 991px) {
    .container-search {
        width: 720px;
        margin-left: calc(50% - 360px);
        margin-right: calc(50% - 360px);
    }
}

@media (max-width: 767px) {
    .container-search {
        width: 540px;
        margin-left: calc(50% - 270px);
        margin-right: calc(50% - 270px);
    }
}

@media (max-width: 540px) {
    .container-search {
        width: 100%;
        margin: 0;
    }
}

.main-search {
    background-color: var(--secondary-color);
    margin-top: -100px;
    width: 100%;
    border-radius: 8px;
    padding: 70px 15px 50px;
    box-shadow: 0 0 15px 5px #9d9d9d21;
}
.miniMain-search {
    text-align: center;
    color: var(--secondary-color);
}

.input-search {
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 7px;
    border: 1px solid #e8e8e8;
    border-radius: 3em;
    width: auto;
}

.input-search > label {
    display: none;
}

.place-search {
    position: relative;
    border-style: none;
    border-radius: 3em;
    width: 60%;
    padding: 10px 15px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.input-search button {
    position: relative;
    cursor: pointer;
}

.list-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 45px;
    gap: 10px;
}

.price-search {
    text-align: center;
    font-size: 16px;
    font-family: Lato, sans-serif;
    color: var(--color-gray);
    font-weight: bolder;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 23px 20px 27px;
    margin-bottom: 15px;
    margin-right: 15px;
    transition: 0.5s;
    box-shadow: 0 0 15px 5px #0d6dfd09;
}

.price-search:hover {
    box-shadow: 15px 15px 30px #0d6dfd23;
}
.price-search img {
    margin-bottom: 6px;
}

/* search conteineris pabaiga */

/* one click conteineris startas */
.container.one-click {
    background-image: url(../../img/one-click-install/one_click_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}
.container > .row.bendras {
    margin-bottom: 0px;
}
.container > .row > .pirmas {
    color: #111;
    margin-bottom: 25px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 2em;
}
.container > .row > .antras {
    color: #666;
    font-family: Open Sans, sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    text-align: center;
}
.container > .row > .img.col12 > img {
    width: 100%;
    margin-top: -1em;
}
@media (max-width: 481px) {
    .container > .row > .pirmas {
        font-size: 1.5em;
    }
}
.one-click h1 {
    font-weight: 900;
}
.one-click p {
    font-weight: 400;
}
/* one click conteineris pabaiga */
/* hosting (melynas konteineris) startas */
.hosting-plan h1 {
    color: #fff;
}
.hosting-plan p {
    color: #fff;
}

.container.hosting-plan {
    font-family: Lato;
    color: var(--color-graytext);
    position: relative;
    background-color: transparent;
}
.container > .row.bendras::after {
    content: '';
    background-image: url(../../img/hosting-plans/hosting-plans.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
}
table {
    text-align: center;
    background-color: transparent;
    border-collapse: collapse;
    width: 100%;
}

thead {
    /* border: 1px solid red ; */
    border-collapse: collapse;
    text-align: center;
    background-color: transparent;
}
th {
    font-weight: 600;
    border: 1px solid #eaeaea;
    background-color: #fff;
    font-size: 24px;
    color: #000;
    white-space: nowrap;
}
.price-head {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.price-head .plan {
    font-weight: 700;
    display: block;
    /* margin-bottom: 14px; */
}
span.price {
    font-weight: 900;
    font-family: Lato;
    color: var(--color-bluelight);
    font-size: 48px;
}
.price sup {
    font-weight: 600;
    font-size: 18px;
    font-family: Open Sans, sans-serif;
}
.price span {
    font-weight: 600;
    text-align: bottom;
    font-size: Open Sans;
    font-size: 18px;
    line-height: 4.5;
}
td {
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    background-color: #fff;
}

td {
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}
.pricing-table th:first-of-type {
    background-color: transparent;
    border: none;
    text-align: left;
    color: var(--color-graytext);
    border-bottom: none;
    font-family: Lato;
    font-size: 1em;
}
.col {
    width: 100%;
    max-width: 100%;
}
.table-responsive {
    overflow-x: auto;
}
table td,
table th {
    padding: 20px 15px;
    vertical-align: middle;
}
.pricing-table thead th,
.pricing-table thead td {
    padding: 41px 15px 35px;
}
.row.apacia p {
    color: var(--color-graytext);
}
.row.apacia a {
    text-decoration: none;
    color: #58c0f9;
}
.row.apacia img {
    margin-right: 5px;
    text-decoration: none;
    vertical-align: text-bottom;
}
@media (max-width: 991px) {
    .container > .row.bendras::after {
        padding-top: 40px;
    }

    .price span {
        line-height: 2.5;
    }
    span.price {
        font-size: 28px;
    }
}
@media (min-width: 992px) {
    .container > .row.bendras::after {
        padding-top: 75px;
    }
}
@media (max-width: 767px) {
    .container > .row.bendras::after {
        padding-top: 20px;
    }
}
@media (max-width: 481px) {
    .container > .row.bendras::after {
        padding-top: 15px;
    }
}
@media (max-width: 466px) {
    .container > .row.bendras::after {
        padding-top: 20px;
    }
}
@media (max-width: 371px) {
    .container > .row.bendras::after {
        padding-top: 50px;
    }
}
@media (max-width: 335px) {
    .container > .row.bendras::after {
        padding-top: 80px;
    }
}
.hosting-plan h1 {
    font-weight: 900;
}
.hosting-plan .antras {
    font-weight: 400;
}
.price-bottom p {
    font-weight: 400;
}
.hosting-btn {
    display: flex;
    justify-content: center;
}
tfoot a {
    text-decoration: none;
}
.small-btn {
    width: 150px;
    white-space: nowrap;
    display: inline-flex;
    font-size: 12px;
}

/* kainos konteineris startas */
/* kainos konteineris pabaiga */
/* hosting (melynas konteineris) pabaiga */
/* baltas fonas konteineris startas */
/* data konteineris (su skaičiais) startas */
.numbers-container {
    position: relative;
    z-index: 1;
    margin-top: -10%;
    margin-bottom: -13%;
}

.border-row {
    background-color: var(--secondary-color);
    padding: 50px 0px 50px 0px;
    box-shadow: 0 0 15px 5px #9d9d9d21;
    border-radius: 15px;
}
@media (max-width: 990px) {
    .container-ourBest {
        padding-top: 100px;
    }
    .numbers-container {
        margin-bottom: -20%;
    }
}
@media (max-width: 720px) {
    .container-ourBest {
        padding-top: 100px;
    }
    .numbers-container {
        margin-bottom: -25%;
    }
}
@media (max-width: 575px) {
    .container-ourBest {
        padding-top: 150px;
    }
    .numbers-container {
        margin-bottom: -35%;
    }
}
@media (max-width: 440px) {
    .container-ourBest {
        padding-top: 150px;
    }
    .numbers-container {
        margin-bottom: -50%;
    }
}
@media (min-width: 991px) {
    .container-ourBest {
        padding-top: 100px;
    }
    .numbers-container {
        margin-bottom: -15%;
    }
}
.row-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: 'Open Sans', sans-serif;
}
.row-counter .value-k {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
    font-size: 2em;
    position: relative;
    font-weight: bold;
}
.row-counter .value {
    font-size: 2em;
    position: relative;
    font-weight: bold;
}
.row-counter .value::after {
    content: '+';
    position: absolute;
    top: 20%;
    left: 105%;
    transform: translate(-50%, -50%);
    font-size: 0.6em;
}
.row-counter .value-k::after {
    content: '+';
    position: absolute;
    top: 20%;
    left: 105%;
    transform: translate(-50%, -50%);
    font-size: 0.6em;
}
.row-cntr-dot {
    position: relative;
}
.row-counter::before {
    content: '';
    height: 8px;
    width: 8px;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.row-counter2::before {
    background-color: var(--color-orange);
}
.row-counter3::before {
    background-color: var(--color-greenlight);
}

@media (max-width: 991px) {
    .row-counter::before,
    .row-counter2::before,
    .row-counter3::before {
        background-color: transparent;
    }
}
@media (max-width: 990px) {
    .row-counter {
        margin-bottom: 30px;
    }
}
.row-counter .label {
    color: var(--color-dark);
    font-size: 1.2em;
}
.row-counter .data-value {
    color: var(--primary-color);
}
.container .people-value {
    color: var(--color-orange);
}
.row-counter .team-value {
    color: var(--color-greenlight);
}
.container .value-rating {
    color: var(--color-bluelight);
}
/* data konteineris (su skaičiais) pabaiga */
/* baltas fonas konteineris pabaiga */
/* melinas konteinris su 8 kvadratais startas */

.container-ourBest {
    background-color: var(--primary-color);
    background-image: url(../../img/services/services-bg.png);
    background-position: center;
    background-size: cover;
}
.content-ourBest {
    text-align: center;
    color: var(--secondary-color);
}
.title-ourBest {
    background-color: transparent;
    font-size: 48px;
    margin: -9px 0px 25px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    margin-top: 30px;
}
.txt-ourBest {
    background-color: transparent;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
}
.container .row.bottom-ourBest {
    background-color: transparent;
}

.blocks-ourBest {
    display: grid;
}

@media (min-width: 580px) {
    .blocks-ourBest {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 991px) {
    .blocks-ourBest {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.row > .blocks-ourBest > .block-ourBest {
    padding: 80px 15px;
}

.block-ourBest {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 2;
}

.background-neibor {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #fff;
    opacity: 0;
    z-index: 1;
}

.block-ourBest:hover > .background-neibor {
    animation-name: riseandshine;
    width: 100%;
    height: 100%;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    opacity: 0.2;
}

@keyframes riseandshine {
    0% {
        width: 80%;
        height: 80%;
    }

    50% {
        width: 90%;
        height: 90%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
.bottom-ourBest a {
    text-decoration: none;
    text-align: center;
    color: var(--secondary-color);
    font-size: 18px;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

/* melinas konteinris su 8 kvadratais pabaiga */
/* baltas conteineris su 4 sekcijom startas */

.container .server-1 > img {
    height: auto;
    width: 100%;
}
.container .server-content > h2 {
    color: var(--color-dark);
    font-family: Lato;
    font-size: 38px;
    margin-bottom: 20px;
    font-family: 'Lato';
}
.container .server-row p {
    font-size: 15px;
    line-height: 1.5em;
    color: var(--color-gray);
    font-family: 'Open Sans';
}

.container .server-row .server-border {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-graylight);
}
.container .server-column {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
.container .server-img {
    height: 50px;
    width: 50px;
}
.container .server-content .server-btn {
    margin-top: 30px;
}
.server-row .hopstack-btn {
    margin-top: 30px;
}
.server-row .hopstack-btn p {
    color: var(--secondary-color);
    font-size: 15px;
}
.server-row a {
    text-decoration: none;
}

@media (max-width: 991px) {
    .container .server-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* baltas conteineris su 4 sekcijom pabaiga */

/* melinas su serciu konteineris startas */

.container-subscribe {
    background-color: var(--primary-color);
    background-image: url(../../img/search-bar/search-bar.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.girl-subscribe {
    position: absolute;
    top: -94px;
    right: 9%;
    background-color: transparent;
}

.container .img-subscribe {
    margin: 0;
}

.content-subscribe {
    text-align: center;
    color: var(--secondary-color);
}

.txt-subscribe {
    font-family: Lato, sans-serif;
    text-align: center;
    color: var(--secondary-color);
    background-color: transparent;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 45px;
}

.input-subscribe {
    background-color: var(--secondary-color);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 7px;
    border: 1px solid var(--secondary-color);
    border-radius: 3em;
}

.input-subscribe > label {
    display: none;
}

.place-subscribe {
    position: relative;
    border-style: none;
    border-radius: 3em;
    width: 60%;
    padding: 10px 15px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: var(--color-gray);
}

*:focus {
    outline: none;
}

.input-subscribe button {
    position: relative;
    cursor: pointer;
}

.input-subscribe .btn-newSize {
    width: 200px;
}

@media (max-width: 767px) {
    .input-subscribe .btn-newSize {
        width: auto;
    }
}

/* melinas su serciu konteineris pabaiga */

/* Zemelapis startas */
.map-container {
    text-align: center;
}
.map-h {
    text-transform: capitalize;
    font-family: 'Lato';
    font-weight: bolder;
    font-size: 56px;
}

.map-t {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--color-graytext);
}

.map-link {
    text-decoration: none;
    color: #000;
}

.map-link:hover {
    color: var(--color-bluelight);
}

.map-link:visited {
    color: #000;
}

.map-link:visited:hover {
    color: var(--color-bluelight);
}

.map-map {
    width: 100%;
    padding: 50px 0px;
}

.map-map > div {
    position: relative;
}

.map-map > div > img {
    width: 100%;
}

.country {
    position: absolute;
}

.lightbulb {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    background-color: var(--color-bluelight);
    margin-top: 50%;
    z-index: 3;
}

.lightbulb::after {
    content: '';
    z-index: 2;
    right: 0px;
    top: 0px;
    background-color: var(--color-bluelight);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation-name: bulbhalo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bulbhalo {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(2);
        opacity: 0.5;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.country-text {
    text-align: center;
    margin-left: -80%;
    margin-top: -50%;
    padding: 10px;
    border-radius: 5px;
    border: rgb(0, 0, 0, 0.02) solid 1px;
    opacity: 0;
    font-family: 'Open Sans';
    font-weight: bold;
    background-color: rgb(254, 254, 254);
    position: relative;
    z-index: 3;
    transition: 1s;
    transition-delay: 15s;
}

.country-text::after {
    content: '';
    position: absolute;
    bottom: -70%;
    left: 40%;
    width: 0;
    height: 0;
    opacity: inherit;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 30px solid rgb(251, 251, 251);
}

.country:hover > .country-text {
    opacity: 1;
    transition-delay: 0s;
}

.England {
    top: 0%;
    left: 38%;
}

.Norway {
    top: 30%;
    left: 50%;
}

.Argentina {
    top: 62%;
    left: 36%;
}

.Russia {
    top: 10%;
    left: 80%;
}

.Australia {
    top: 83.5%;
    left: 94%;
}

.Indonesia {
    top: 20%;
    left: 10%;
}

/* Zemelapis pabaiga */
/* clients conteineris startas */
.client-container {
    background-image: white;
    min-height: 500px;
    padding: 0;
    position: relative;
    z-index: 1;
}

.blueribbon {
    min-height: 400px;
    width: 100%;
    background-image: url(../../img/karusele/testimonial_bg.png);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.blueribbon > h2 {
    font-family: 'Lato', 'Open sans';
    font-size: 70px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.blueribbon > p {
    margin-left: 100px;
    font-family: 'Open sans';
    font-size: 22px;
    color: #d4d4d4;
    margin-bottom: 20px;
}

@media (max-width: 1180px) {
    .blueribbon > h2 {
        font-size: 56px;
    }
    .blueribbon > p {
        font-size: 18px;
    }

    .carousel {
        left: 50%;
        width: 500px;
    }
}

.blueribbon > p > span {
    text-transform: capitalize;
}

.blueribbon > .button-garage {
    margin-left: 100px;
}

@media (max-width: 1120px) {
    .blueribbon {
        margin-top: 50px;
    }
    .client-container {
        height: 600px;
    }

    .blueribbon {
        height: 500px;
        justify-content: flex-start;
    }
    .carousel {
        left: 100px;
        top: 40%;
    }
}

@media (max-width: 615px) {
    .client-container {
        height: 700px;
    }

    .carousel {
        left: 60px;
        top: 65%;
        width: 200px;
    }

    .blueribbon {
        height: 700px;
    }

    .carousel > .card > div {
        display: block;
        width: 100%;
    }

    .carousel > .card > img {
        display: none;
    }
}

/* clients conteineris pabaiga */
/* get latest blog konteineris startas */
.blog-bg .pirmas > h1 {
    font-weight: 900;
}
.blog-bg .antras > p {
    font-weight: 400;
}
.container.blog-bg {
    background-color: var(--color-light);
}
.container.blog-bg .sekcija2 {
    background-color: #fff;
}
.row .sekcija2 {
    padding: 20px 35px 23px;
}
.row .blog {
    margin-bottom: 30px;
}
.row .blog-date {
    list-style: none;
}
.row .blog-date a {
    font-weight: 600;
    text-decoration: none;
    color: var(--color-bluelight);
    font-size: 12px;
    font-family: Open Sans, sans-serif;
}
.row .blog-title {
    margin-bottom: 10px;
}
.row .blog-title a {
    font-weight: 700;
    font-size: 23px;
    text-decoration: none;
    color: #111;
    font-family: Lato, sans-serif;
    line-height: 1.5;
    transition: 0.3s;
}
.row .blog-title a:hover {
    color: var(--color-bluelight);
}

.row .blog-link {
    font-weight: 400;
    text-decoration: none;
    font-family: open-sans, sans-serif;
    font-size: 16px;
    color: var(--color-gray);
    transition: 0.3s;
}
.row .blog-link:hover {
    color: var(--color-bluelight);
}
.row .blog-link img {
    margin-left: 5px;
    margin-top: 5px;
}

.row .blog1 {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 991px) {
    .row .sekcija1 img {
        width: 100%;
    }
}
@media (max-width: 990px) {
    .row .sekcija1 img {
        width: 100%;
    }
}
/* get latest blog konteineris pabaiga */
/* footer startas  */

.footer-cont {
    padding: 0;
}
.row-list {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 50px;
}
.list-pg > .no-mark {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.row-list > .title-first {
    color: var(--secondary-color);
    font-size: 30px;
    margin-bottom: 25px;
    font-family: 'Lato';
}
.row-list .title-second {
    color: var(--secondary-color);
    margin-top: 25px;
    font-size: 28px;
    margin-bottom: 25px;
    font-family: 'Lato';
}
.first-bottom .cards > a {
    margin: 0;
}
.row-list a {
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-size: 17px;
    text-transform: capitalize;
    justify-content: left;
}
.row-list a:hover {
    text-decoration: none;
    color: var(--color-bluelight);
}
.row-list .list-date {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--color-bluelight);
    font-family: 'Open Sans', sans-serif;
}
.circle {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}
.row-list .update {
    align-self: center;
    font-size: 12px;
    background-color: var(--color-red);
    text-transform: uppercase;
    border-radius: 25px;
    padding: 1px 10px 1px 10px;
}
.row-list .update-try {
    align-self: center;
    font-size: 12px;
    background-color: var(--color-bluelight);
    text-transform: uppercase;
    border-radius: 25px;
    padding: 1px 10px 1px 10px;
}
.row-list .circle {
    display: flex;
    gap: 10px;
    align-self: center;
}
.list-news {
    display: flex;
    flex-direction: row;
    background-color: #102d6975;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 13px;
    font-family: Lato, sans-serif;
}
.row-list .update-try:hover {
    color: var(--secondary-color);
}
.row-list .update:hover {
    color: var(--secondary-color);
}

.row-list .a-title {
    margin-bottom: 30px;
    text-transform: none;
    font-size: 20px;
}
.row .footer-text {
    color: var(--secondary-color);
    line-height: 25px;
    font-size: 17px;
    text-decoration: none;
}
.row .footer-text a {
    text-decoration: none;
    color: var(--color-bluelight);
    font-family: 'Open Sans', sans-serif;
}

.bottom-line {
    border-top: 1px solid var(--color-darkblue);
    padding-top: 30px;
}
.row .footer-cer {
    background-image: url(../../img/footer/certificate.png);
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
}
.content-foot {
    padding-bottom: 25px;
}
.footer-back {
    background-image: url(../../img/footer/footer.png);
    background-position: top;
    background-size: cover;
}
@media (max-width: 991px) {
    .last-line {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .last-line {
        text-align: left;
    }
}
.row-list .logo-hopstack {
    width: 70%;
}
.row-list .cards img {
    width: 90%;
    margin-bottom: 20px;
}
.row-list .pages {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: left;
}
.row-list .phone > a {
    display: flex;
    justify-content: left;
    flex-direction: row;
    text-align: center;
    color: var(--secondary-color);
    gap: 20px;
    align-content: center;
    margin-bottom: 35px;
}
.row-list .phone:hover {
    color: var(--color-bluelight);
}
.row-list .phone .icon {
    font-size: 18px;
}
.row-list .phone > a:hover {
    color: var(--color-bluelight);
}
.first-bottom > p {
    color: var(--secondary-color);
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
}
.first-bottom .copy {
    margin-top: 20px;
    font-size: 14px;
}
/* footer pabaiga */

/* back to top startas */
.btn-to-top {
    position: fixed;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    font-weight: 1000;
    text-align: center;
    border-radius: 50%;
    background: var(--color-bluelight);
    border: none;
    cursor: pointer;
    z-index: 3;
    box-shadow: 0 0 15px 5px #9d9d9d21;
    text-decoration: none;
    opacity: 100%;
    transition: opacity 0.5s;
}
.btn-to-top:hover {
    opacity: 50%;
}

.back-to-top {
    right: 2rem;
    bottom: 4rem;
}

#top {
    visibility: hidden;
}

/* back to top pabaiga */
