/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
@import '../3rd-party/font.css';

/* components */
@import '../components/button-default.css';
@import '../components/carousel.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header startas */
/* header pabaiga */

/* hero startas */
/* hero pabaiga */

/* our best konteineris startas */
.container-ourBest {
    background-color: #fcfcfc;
    background-image: none;
}
.title-ourBest {
    color: var(--color-dark);
    text-transform: capitalize;
}
.txt-ourBest {
    color: var(--color-graytext);
}
.bottom-ourBest a {
    color: var(--color-dark);
}
.bottom-ourBest a:hover {
    color: var(--color-bluelight);
    transition: 0.3s;
}
.block-ourBest {
    border-color: rgba(0, 0, 0, 0.1);
}
.background-neibor {
    z-index: -1;
}
.block-ourBest:hover > .background-neibor {
    opacity: 0.5;
    animation-duration: 0.4s;
    box-shadow: 0 0 20px 5px #bdbaba31;
}
/* ourBest konteineris pabaiga */

/* control panel konteineris startas */
.container-controlPnl {
    background-color: #f7faff;
}

.top-controlPnl {
    text-align: center;
}

.title-controlPnl {
    background-color: transparent;
    margin: -9px 0px 25px;
    font-family: Lato, sans-serif;
    font-size: 36px;
    font-weight: 900;
}

@media (min-width: 498px) {
    .title-controlPnl {
        font-size: 48px; 
    }
}

.txt-controlPnl {
    background-color: transparent;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.left-controlPnl {
    display: grid;
    gap: 30px;
}

.column-controlPnl {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        'icon title'
        'icon txt';
    gap: 10px;
    padding: 5px;
}

.title2-controlPnl {
    grid-area: title;
    background-color: transparent;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}

.txt2-controlPnl {
    grid-area: txt;
    background-color: transparent;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.img-controlPnl {
    grid-area: icon;
    width: 68px;
    height: 61px;
    justify-self: center;
}

.right-controlPnl img {
    width: 100%;
    margin-top: -45px;
}

@media (max-width: 1199px) {
    .right-controlPnl img {
        margin-top: 45px;
    }
}

/* control panel konteineris pabaiga */

/* get latest blog konteineris startas */
.container-getLBlog {
    background-color: var(--secondary-color);
}
.top-getLBlog {
    text-align: center;
}

.title-getLBlog {
    background-color: transparent;
    margin: -9px 0px 25px;
    font-family: Lato, sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-transform: capitalize;
}

@media (min-width: 498px) {
    .title-getLBlog {
        font-size: 48px; 
    }
}

.txt-getLBlog {
    background-color: transparent;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.column-getLBlog img {
    width: 100%;
}

.last-getLBlog {
    display: grid;
    gap: 30px;
}

.main-getLBlog {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}

@media (min-width: 575px) {
    .main-getLBlog {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }
}

@media (min-width: 991px) {
    .main-getLBlog {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.column-getLBlog a, .slash {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.date,
.slash,
.name {
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.5em;
    display: inline-block;
    color: #a3a3a3;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
}

.date:hover,
.name:hover {
    color: var(--color-bluelight);
    transition: 0.4s;
}

.nav-txt {
    font-size: 24px;
    line-height: 1.5em;
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: var(--color-dark);
}

.nav-txt:hover {
    color: var(--color-bluelight);
    transition: 0.3s;
}

.nav-more {
    font-size: 13px;
    line-height: 2.5em;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    color: #818181;
}

.nav-more::before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: '\f061';
    color: var(--color-bluelight);
}

.nav-more:hover {
    color: var(--color-bluelight);
    transition: 0.3s;
}


/* get latest blog konteineris pabaiga */

/* footer startas */
/* footer pabaiga */

/* back to top startas */
.btn-to-top {
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    font-weight: 1000;
    text-align: center;
    text-decoration: none;
}
/* back to top pabaiga */
