/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
@import '../3rd-party/font.css';

/* components */
@import '../components/button-default.css';
@import '../components/carousel.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* header startas */
 .container-srvHeader {
    position: absolute;
    padding: 0;
    z-index: 1;
}

.hamburger-srv {
    display: flex;
    justify-content: right;
    flex-grow: 2;
    margin-right: 10px;
    color: var(--secondary-color);
    cursor: pointer;
}

.bk-srvHeader {
    display: inline-block;
    width: 100%;
    padding: 15px 5% 15px 5%;
    background-color: rgba(0, 0, 0, 0.199);
}

@media (max-width: 575px) {
    .left-srv,
    .right-srv {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .right-srv {
        margin-top: 10px;
    }
}

@media (min-width: 991px) and (max-width: 1120px) {
    .main-nav-srv a,
    .main-nav-srv  > .dropdown-srv > .label-srv,
    .main-nav-srv  > .dropdown-srv > .list-srv a {
        font-size: 15px;
        font-weight: 500;
    }
    .main-nav-srv {
        gap: 1.2em;
    }
    .content-srvHeader > .btn-srv {
        font-size: 12px;
        line-height: 1em;
        padding: 13px 20px;
    }
}
/* header pabaiga */

/* hero startas */
.container-srvHero {
    position: relative;
    background-color: var(--primary-color);
    background-image: url(../../pages/services/img/hero/page-title-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 250px 0 100px;
}
/* hero pabaiga */

/* Meet Hostpack konteineris startas */
/* Meet Hostpack konteineris pabaiga */

/* Subscribe konteineris startas */
/* Subscribe konteineris pabaiga */

/* Our client konteineris startas  */
/* Our client konteineris pabaiga */

/* Hosting plans konteineris startas */
/* Hosting plans konteineris pabaiga */

/* footer startas */
.title-first {
    font-size: 28px;
}

.logo-text,
.list-pg,
.bottom-line p {
    font-size: 16px;
    font-weight: 400;
    font-family: Open Sans, sans-serif;
}

.first-bottom .copy {
    font-size: 13px;
    font-weight: 400;
    font-family: Open Sans, sans-serif;
}
/* footer pabaiga */

/* back to top startas */
.btn-to-top {
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    font-weight: 1000;
    text-align: center;
    text-decoration: none;
}
/* back to top pabaiga */
